SimulationType                MonteCarlo
NumberOfCycles                {n_cycles}
NumberOfInitializationCycles  {n_init_cycles}
PrintEvery                    {print_every}

Forcefield                    {forcefield_name}
CutOff                        {cutoff}
UseChargesFromCIFFile         {use_charges_from_cif}

Box 0
  BoxLengths                  {box_a} {box_b} {box_c}

Component 0 MoleculeName              {adsorbate_name}
            MoleculeDefinition        {molecule_def}
            TranslationProbability    1.0
            RotationProbability       1.0
            ReinsertionProbability    1.0
            IdentityChangeProbability 0.0
            WidomProbability          0.0
            CreateNumberOfMolecules   50
